<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Control VT Card</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Control VT Card", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Ferramentas
                                <span class="caret"></span>
                            </a>
                            @*NIVEL 1*@
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">CARTÃO</a>
                                    @*NIVEL 2*@
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("BLOQUEIO", "Index", "CadUsuario")</li>
                                        <li>@Html.ActionLink("SEGUNDA VIA", "Index", "CadUsuario")</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("VERIFICAR SALDO", "Index", "CadUsuario")</li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                               @*NIVEL 1*@
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">PEDIDO</a>
                                    @*NIVEL 2*@
                                    <ul class="dropdown-menu">
                                        @*NIVEL 3*@
                                        <li>@Html.ActionLink("EDITAR", "Index", "CadUsuario")</li>
                                        <li class="divider"></li>
                                        <li class="dropdown-submenu">
                                            <a href="#">GERAR</a>
                                            <ul class="dropdown-menu">
                                                <li></li>
                                                <li><a href="#">MANUAL</a></li>
                                                <li><a href="#">IMPORTAR</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Funcionários
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @*NIVEL 1*@
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">A1</a>
                                    @*NIVEL 2*@
                                    <ul class="dropdown-menu">
                                        @*NIVEL 3*@
                                        <li class="dropdown-submenu">
                                            <a href="#">A2</a>
                                            <ul class="dropdown-menu">
                                                <li></li>
                                                <li><a href="#">A3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Gráficos
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @*NIVEL 1*@
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">A1</a>
                                    @*NIVEL 2*@
                                    <ul class="dropdown-menu">
                                        @*NIVEL 3*@
                                        <li class="dropdown-submenu">
                                            <a href="#">A2</a>
                                            <ul class="dropdown-menu">
                                                <li></li>
                                                <li><a href="#">A3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Relatórios
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @*NIVEL 1*@
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">A1</a>
                                    @*NIVEL 2*@
                                    <ul class="dropdown-menu">
                                        @*NIVEL 3*@
                                        <li class="dropdown-submenu">
                                            <a href="#">A2</a>
                                            <ul class="dropdown-menu">
                                                <li></li>
                                                <li><a href="#">A3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Operações
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @*NIVEL 1*@
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">CADASTRAR</a>
                                    @*NIVEL 2*@
                                    <ul class="dropdown-menu">
                                        @*NIVEL 3*@
                                        <li class="dropdown-submenu">
                                            <a href="#">Cadastrar</a>
                                            <ul class="dropdown-menu">
                                                <li>@Html.ActionLink("Usuários", "Index", "CadUsuario")</li>
                                                <li>@Html.ActionLink("Funcionários", "Index", "CadFuncionario")</li>
                                                <li><a href="#">Empresa</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                       
                     

                    </ul>
                    using (Html.BeginForm("LogOff", "Conta", FormMethod.Post, new { id = "logoffForm" }))
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Solicitações", "Sobre", "Home")</li>
                            <li>
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">@User.Identity.Name<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><i class="glyphicon glyphicon-pencil"></i> Editar</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-trash"></i> Apagar</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-ban-circle"></i> Ban</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="i"></i> Tornar Administrador</a></li>
                                </ul>
                            <li><a href="javascript:document.getElementById('logoffForm').submit()">Sair</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink(" Login", "Login", "Conta")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Control VT Card</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
